<% provide :title, t("uploaded_photos") %>

<%= form_tag({controller: "static_pages", action: "upload", method: "post"}, multipart: true) do %>
  <%= label_tag(:image, t("image")) %>
  <%= file_field_tag(:image) %>
  <%= submit_tag("Upload") %>
<% end %>


<div class="row">
  <% @images.each do |image| %>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src=<%= "#{root_url}#{image}" %> style="width:100%">
          <div class="caption">
            <p style="overflow-y: hidden"><small><%= image_markdown(image) %></small></p>
          </div>
      </div>
    </div>
  <% end %>
</div>

