<div class="wrap">
  <div class="contact-form">
    <%= form_for @post do |f| %>
      <div>
        <span><label><%= t("title") %></label></span>
        <span><%= f.text_field :title %></span>
      </div>

      <div>
        <span><label><%= t("tags") %><small> (<%= t("comma_separated") %>) </small></label></span>
        <span><%= f.text_field :tag_list, value: f.object.tag_list.to_s %></span>
      </div>

      <div>
        <span><label><%= t("post") %></label></span>
        <span>
          <%= md_simple_editor  do %>
             <%= f.text_area :body %>
          <% end %>
        </span>
      </div>

      <div>
        <span><%= f.submit t("submit") %></span>
      </div>
    <% end %>
  </div>
</div>




