<div class="bloger-grid">
  <div class="blog-img">
    <img src=<%= first_image_link post.body %> title="post_image" />
  </div>
  <div class="bloger-content">
    <h5><%= link_to post.title, post_path(post) %></h5>
    <p><%= truncate( strip_tags( markdown(post.body) ), length: 350) %></p>
    <ul>
<!--       <li><a href="#">MKS</a></li> -->
      <li><a><%= "#{time_ago_in_words post.updated_at}" %> <%= t("ago") %></a></li>
      <li><%= link_to t("read_more"), post_path(post) %></li>
    </ul>
  </div>
  <div class="clear"> </div>
</div>
