<div class="bloger-grid">
  <div class="blog-img">
    <img src=<%= first_image_link post.body %> title="post_image" />
  </div>
  <div class="bloger-content">
    <h5><%= link_to post.title, post_path(post) %></h5>
    <p>
      <%= truncate(strip_tags(markdown(post.body)),
        length: Settings.post.short_view_limit) %>
    </p>

    <%= render "shared/tags", post: post%>

    <ul>
      <li><p><%= "#{time_ago_in_words post.created_at} #{t("ago")}" %></p></li>
      <li><%= link_to t("read_more"), post_path(post) %></li>
    </ul>
  </div>
</div>
