<% provide :title, t("post") %>

<div class="blog-box1">
<!--   <div class="blog-box-image">
    <img src="images/pre.png" title="priview" />
  </div> -->
  <div class="blog-box-content">
    <h1><strong><%= link_to @post.title, post_path(@post) %></strong></h1>

    <div>
      <%= markdown(@post.body) %>
    </div>

    <ul>
      <li><a><%= "#{time_ago_in_words @post.updated_at}" %> <%= t("ago") %></a></li>
      <li><%= link_to t("comment"), "" %></li>
    </ul>
  </div>
</div>
