<!DOCTYPE html>
<html>
  <head>
    <title><%= t :app_name %>|<%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= render "shared/navbar" %>

    <div class="wrap">
      <div class="about">
        <div class="bloder-content">
          <%= yield %>
        </div>
        <div class="clear"> </div>
      </div>
    </div>

    <div class="clear"> </div>
    <div class="clear"> </div>

    <%= render "shared/footer" %>
    <%= render "shared/foot_link" %>
  </body>
</html>
